.image_link {
    display: flex;
    flex-direction: row;
    width: max-content;
    border-bottom: 1px solid #cdcdcd;
    text-decoration: none;
    margin: 32px auto;
}

.review {
    width: 256px;
    height: 240px;
    font-family: "Century Gothic";
    color: #000000;
    font-size: 16pt;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    line-height: 30px;
    margin-top: 8px;
}
.news_image {
    display: block;
    margin-top: 16px;
}

.news_link {
    display: block;
    width: max-content;
    text-decoration: none;
    font-size: 16pt;
    margin: 16px;
    border-bottom: 1px solid #e6e6e6;
}

.news_link:hover {
    border-bottom: 1px solid #c1c1c1;
    transition: all .25s ease-in-out;
}