.info_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 32px;
}

.image_wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 448px;
    height: 448px;
    background-color: #ffffff;
}

.image_wrapper img {
    max-height: 448px;
    max-width: 448px;
    width: auto;
    height: auto;
    background-color: #ffffff;
}

.product_block {
    width: 448px;
    height: 448px;
    display: inline-block;
}

.full_info {
    height: 448px;
    width: 448px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.cost {
    align-self: center;
}

.full_description {
    margin: 32px;
    font-size: 14pt;
}