.messages {
    width: max-content;
}

.reg_form {
    width: 256px;
}

.reg_form input {
    font-family: "Century Gothic";
    font-size: 14pt;
    width: 256px;
    margin: 8px;
    border: 1px solid #c1c1c1;
    padding: 4px;
}

.reg_form select {
    font-family: "Century Gothic";
    text-decoration: none;
    font-size: 14pt;
    width: 266px;
    margin: 8px;
    border: 1px solid #c1c1c1;
    padding: 4px;
}

.reg_form textarea {
    font-family: "Century Gothic";
    text-decoration: none;
    font-size: 14pt;
    width: 256px;
    margin: 8px;
    border: 1px solid #c1c1c1;
    padding: 4px;
}

#reg_btn {
    display: block;
    width: 128px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e6e6e6;
}

#reg_btn:hover {
    background-color: #dadada;
    transition: all .25s ease-in-out;
}

.answer {
    font-size: 14pt;
    width: max-content;
}

.login {
    padding: 0 4px 4px;
    display: block;
    text-decoration: none;
    font-size: 14pt;
    width: max-content;
    color: #000000;
    border-bottom: 1px solid #c1c1c1;
    border-left: 1px solid #e6e6e6;
}

.login:hover {
    border-left: 1px solid #c1c1c1;
    transition: all .25s ease-in-out;
}