.slider {
    display: inline-block;
    position: relative;
    height: 256px;
    width: 512px;
    padding: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    transition: opacity 1s;
}

.show {
    opacity: 1;
    z-index: 2;
}