body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}

table {
    border-spacing: 8px;
}

th {
    text-align: left;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.center {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #b4b4b4;
    width: 1024px;
    height: 40px;
    z-index: 3;
    position: relative;
}
.copyright {
    display: inline-block;
    font-size: 14pt;
    margin-top: 14px;
    margin-left: 8px;
    color: white;
}
.llo_footer {
    display: inline-block;
    float: right;
    margin-right: 8px;
    background-image: url("/template/images/logos/llo.png");
    width: 70px;
    height: 40px;
}

.pattern {
    background-color: #dadada;
    background-image: url("/template/images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
}
.background {
    background-color: #e6e6e6;
    width: 1024px;
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 50%;
    margin-left: -512px;
}

.link {
    display: block;
    padding-top: 4px;
    padding-left: 4px;
    font-size: 14pt;
    text-decoration: none;
    color: #000000;
}

.header {
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: #282828;
    font-size: 0;
    z-index: 3;
}
.in_header {
    width: 1004px;
    height: 40px;
}
.llo {
    display: inline-block;
    background-image: url("/template/images/logos/llo.png");
    width: 70px;
    height: 40px;
}
.store {
    display: inline-block;
    background-image: url("/template/images/logos/store.png");
    width: 194px;
    height: 40px;
    margin-left: 345px;
}
.edit {
    background-image: url("/template/images/icons/edit.png");
}
.cart {
    background-image: url("/template/images/icons/cart.png");
}
.lock {
    background-image: url("/template/images/icons/lock.png");
}
.unlock {
    background-image: url("/template/images/icons/lock.png");
}
.count {
    text-align: center;
    position: relative;
    top: 9px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14pt;
}
.icon{
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.main {
    padding-top: 36px;
    width: 1024px;
    height: 100%;
    position: relative;
    z-index: 2;
    min-height: calc(100vh - 109px);
}

.row {
    width: 1024px;
    height: 40px;
    margin-bottom: 16px;
}

.row a {
    padding-top: 8px;
    text-align: center;
    vertical-align: top;
    width: max-content;
    font-size: 18pt;
    border-bottom: 3px solid #e6e6e6;
    padding-bottom: 3px;
}
.row a:hover {
    border-bottom: 3px solid #c1c1c1;
    transition: all .25s ease-in-out;
}

.flex_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.column {
    top: 128px;
    width: 256px;
    height: max-content;
}
.column a {
    margin-left: 4px;
    border-right: 1px solid #cdcdcd;
    display: block;
    width: 248px;
    height: 32px;
    border-bottom: 1px solid #e6e6e6;
}
.column a:hover {
    border-bottom: 1px solid #c1c1c1;
    transition: all .25s ease-in-out;
}

td {
    min-width: 80px;
}
tr td{
    border-bottom: 1px solid #e6e6e6;
}
tr:hover td{
    border-bottom: 1px solid #c1c1c1;
    transition: all .25s ease-in-out;
}

.big_text {
    font-size: 24pt;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.small_text {
    font-size: 16pt;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.description {
    width: 768px;
    font-size: 14pt;
    padding-top: 20px;
}

.product {
    width: 256px;
    min-height: 400px;
    height: max-content;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #e6e6e6;
    margin: 20px;
}

.product * {
    margin-top: 4px;
    margin-bottom: 4px;
}

.product:hover {
    border-left: 1px solid #cdcdcd;
    transition: all .25s ease-in-out;
}

.product a:first-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 256px;
    height: 256px;
    background-color: #ffffff;
}

.product img {
    max-height: 256px;
    max-width: 256px;
    width: auto;
    height: auto;
    background-color: #ffffff;
}

.product_name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12pt;
    width: 248px;
    height: max-content;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
}
.product_info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 11pt;
    width: 240px;
    height: max-content;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}
.cost {
    width: max-content;
    height: max-content;
    font-size: 16pt;
    margin-top: 4px;
}

.to_cart {
    display: block;
    font-size: 12pt;
    width: max-content;
    height: max-content;
    text-decoration: none;
}

.category {
    width: max-content;
    min-width: 272px;
    max-width: 512px;
    height: max-content;
}

.table {
    text-align: -webkit-match-parent;
    width: 960px;
}

.a_link {
    display: block;
    width: max-content;
    padding: 8px;
}

.a_start {
    padding-left: 32px;
    display: block;
    width: max-content;
    padding-top: 8px;
    padding-bottom: 8px;
}

.invisibility {
    font-size: 0;
    width: max-content;
}

.no_link {
    color: #000000;
    text-decoration: none;
}

#order_table td {
    text-align: left;
}

.contacts {
    padding: 4px;
    font-size: 16pt;
}

.admin_menu {
    font-size: 16pt;
    text-align: center;
}

.box_form {
    display: block;
    margin-right: 24px;
    width: 200px;
    height: 20px;
}

.box_form_list {
    margin-left: 8px;
    background-color: #e6e6e6;
    display: none;
    width:  210px;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box_form input {
    height: 14px;
    font-family: "Century Gothic";
    font-size: 12pt;
    width: 200px;
    margin: 8px;
    border: 1px solid #c1c1c1;
    padding: 4px;
}

.box_form_list_item {
    display: block;
    list-style-type: none;
    font-size: 12pt;
    border-bottom: 1px solid #c1c1c1;
}

.js-link {
    text-decoration: none;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hidden {
    display: none;
}